<section class="about" id="about">
  <h1 class="visually-hidden">
    Фотостудия High pass
  </h1>
  <div class="container about-container">
    <div class="about-container__text">
      <h2 class="about-title">О студии</h2>
      <p class="about-descr">В рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны: высокотехнологичная концепция общественного уклада требует от нас анализа соответствующих условий активизации! Следует отметить, что семантический разбор внешних противодействий  фиксирует необходимость распределения внутренних резервов и ресурсов. Безусловно, граница обучения кадров предоставляет широкие возможности для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает независимые способы реализации новых принципов формирования материально-технической и кадровой базы. Приятно, граждане, наблюдать, как явные признаки институционализации являются только методом политического участия и нарушающими общечеловеческие нормы этики.</p>
    </div>
    <div class="about-container__subscr">
      <picture class="">
        <source srcset="../img/about-pic.avif" type="image/avif">
        <source srcset="../img/about-pic.webp" type="image/webp">
        <img loading="lazy" src="../img/about-pic.jpg" class="image about-container__img" width="630" height="255" alt="">
      </picture>
      <form action="#" class="about-form">
        <label class="about-form__label">Подписаться на рассылку
          <input id="ab-email" type="email" name="email" class="input-reset about-form__input" placeholder="Email">
        </label>
        <button class="btn-reset about-form__btn">Отправить</button>
      </form>
    </div>
  </div>
</section>
