<div class="container hero-container">
  <div class="hero">
    <div class="hero-event">
      <a href="#" class="hero-event__tag">#мастеркласс</a>
      <div class="hero-event__text">
        <p class="hero-event__descr">Мастер-класс от Игоря Робова</p>
        <h2 class="hero-event__title">Неоновый фотосет 2.0 7 июля 20:00</h2>
        <button class="btn-reset hero-event__btn">Узнать больше</button>
      </div>
    </div>
    <div class="hero-past">
      <p class="hero-past__title">Работы участников предыдущего мастер-класса</p>
      <div class="hero-past__container">
        <picture class="hero-past__img--1">
          <source srcset="../img/hero-past-img1.avif" type="image/avif">
          <source srcset="../img/hero-past-img1.webp" type="image/webp">
          <img loading="lazy" src="../img/hero-past-img1.jpg" class="image" width="630" height="300" alt="">
        </picture>
        <picture class="hero-past__img--2">
          <source srcset="../img/hero-past-img2.avif" type="image/avif">
          <source srcset="../img/hero-past-img2.webp" type="image/webp">
          <img loading="lazy" src="../img/hero-past-img2.jpg" class="image" width="300" height="257" alt="">
        </picture>
        <picture class="hero-past__img--3">
          <source srcset="../img/hero-past-img3.avif" type="image/avif">
          <source srcset="../img/hero-past-img3.webp" type="image/webp">
          <img loading="lazy" src="../img/hero-past-img3.jpg" class="image" width="300" height="257" alt="">
        </picture>
      </div>
    </div>
  </div>
</div>
