<section class="projects" id="projects">
  <div class="container projects-container">
    <h2 class="projects-title">Наши проекты</h2>
    <div class="projects-grid-container">
      <div class="projects-item projects__item--sm">
        <picture>
          <source srcset="../img/proj1.avif" type="image/avif">
          <source srcset="../img/proj1.webp" type="image/webp">
          <img loading="lazy" src="../img/proj1.jpg" class="projects-item__image" width="190" height="184" alt="">
        </picture>
        <a href="#" class="projects-item__tag">#пейзаж</a>
        <a href="#" class="projects-item__descr">Синтетически, смешаны с не уникальными данными до степени мешаны с не уникальн</a>
        <div class="projects-item__date">
          <svg class="projects-item__date-icon">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <span class="projects-item__date-text">
            16 июня
          </span>
        </div>
      </div>
      <div class="projects-item projects__item--sm">
        <picture>
          <source srcset="../img/proj2.avif" type="image/avif">
          <source srcset="../img/proj2.webp" type="image/webp">
          <img loading="lazy" src="../img/proj2.jpg" class="projects-item__image" width="190" height="184" alt="">
        </picture>
        <a href="" class="projects-item__tag">#портрет</a>
        <a href="#" class="projects-item__descr">В своём стремлении улучшить опыт мы упускаем, что явные мешаны с не уникальн</a>
        <div class="projects-item__date">
          <svg class="projects-item__date-icon">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <span class="projects-item__date-text">
            28 мая
          </span>
        </div>
      </div>
      <div class="projects-item projects__item--sm">
        <picture>
          <source srcset="../img/proj3.avif" type="image/avif">
          <source srcset="../img/proj3.webp" type="image/webp">
          <img loading="lazy" src="../img/proj3.jpg" class="projects-item__image" width="190" height="184" alt="">
        </picture>
        <a href="" class="projects-item__tag">#предмет</a>
        <a href="#" class="projects-item__descr">Равным образом, высокое качество позиционных мешаны с не уникальн</a>
        <div class="projects-item__date">
          <svg class="projects-item__date-icon">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <span class="projects-item__date-text">
            14 мая
          </span>
        </div>
      </div>
      <div class="projects-item projects__item--big projects__item--fuji">
        <div class="projects-item__date">
          <svg class="projects-item__date-icon">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <span class="projects-item__date-text">
            9 апреля
          </span>
        </div>
        <h3 class="projects-item__title">Cемантический разбор</h3>
        <p class="projects-item__descr">В рамках спецификации современных стандартов, интерактивные прототипы</p>
        <button class="projects-item__btn">О проекте</button>
        <a href="" class="projects-item__tag">#fuji</a>
      </div>
      <div class="projects-item projects__item--big projects__item--zabv">
        <div class="projects-item__date">
          <svg class="projects-item__date-icon">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <span class="projects-item__date-text">
            20 марта
          </span>
        </div>
        <h3 class="projects-item__title">Забвение</h3>
        <p class="projects-item__descr">Играет важную роль в формировании глубокомысленных рассуждений</p>
        <button class="projects-item__btn">О проекте</button>
        <a href="" class="projects-item__tag">#проектзабвение</a>
      </div>
      <div class="projects-item projects__item--middle">
        <picture>
          <source srcset="../img/proj6.avif" type="image/avif">
          <source srcset="../img/proj6.webp" type="image/webp">
          <img loading="lazy" src="../img/proj6.jpg" class="projects-item__image" width="300" height="184" alt="">
        </picture>
        <a href="" class="projects-item__tag">#ретушь</a>
        <a href="#" class="projects-item__descr">Как принято считать, многие мешаны с не уникальн известные личности и по сей день остаются уделом либералов</a>
        <div class="projects-item__date">
          <svg class="projects-item__date-icon">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <span class="projects-item__date-text">
            9 марта
          </span>
        </div>
      </div>
      <div class="projects-item projects__item--middle">
        <picture>
          <source srcset="../img/proj7.avif" type="image/avif">
          <source srcset="../img/proj7.webp" type="image/webp">
          <img loading="lazy" src="../img/proj7.jpg" class="projects-item__image" width="300" height="184" alt="">
        </picture>
        <a href="" class="projects-item__tag">#портрет</a>
        <a href="#" class="projects-item__descr">С учётом сложившейся международной обстановки, новая модель мешаны с не уникальн организационной</a>
        <div class="projects-item__date">
          <svg class="projects-item__date-icon">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <span class="projects-item__date-text">
            1 марта
          </span>
        </div>
      </div>
      </div>
    </div>
</section>
